.header {
    display: flex;
    justify-content: space-around;
    background: #496DDB;
    padding: 25px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 60px;
    margin-right: 800px;
}

